@using System.Web
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="layout" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{ 
    [Inject] NavigationManager navigationManager { get; set; }
    Type layout = typeof(MainLayout);

    protected override Task OnInitializedAsync()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        if(queryParams["layout"] == "empty")
        {
            layout = typeof(EmptyLayout);
        }
        return base.OnInitializedAsync();
    }
}
