@inherits ExampleBase

<div style="height: 200px;">
    <MudExTreeViewDefault @ref="ComponentRef"
                          @bind-SelectedNode="_selectedNode"
                          Items="@_items">
    </MudExTreeViewDefault>
</div>

<MudText Typo="Typo.body2" Class="mt-3">
    @L["Selected"]: @(_selectedNode?.Name ?? "-")
</MudText>

@code {
    private TreeItem _selectedNode;
    private HashSet<TreeItem> _items = new()
    {
        new TreeItem 
        { 
            Name = "Root", 
            Children = new HashSet<TreeItem>
            {
                new TreeItem { Name = "Child 1" },
                new TreeItem { Name = "Child 2" },
                new TreeItem { Name = "Child 3" }
            }
        }
    };

    public class TreeItem : Nextended.Core.Types.Hierarchical<TreeItem>
    {
        public string Name { get; set; }
        public override string ToString() => Name;
    }
}
