/* _content/Nextended.Blazor/Component1.razor.rz.scp.css */
.my-component[b-pzx5uvzj4q] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
