/* _content/MudBlazor.Extensions/Components/MudExFileDisplay.razor.rz.scp.css */
.file-display[b-ojo53ihdky] {
    padding: 10px;
    border: 1px dashed var(--mud-palette-primary);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.file-display-container[b-ojo53ihdky] {
    height: calc(100% - 60px);
}

.download-file[b-ojo53ihdky] {
    float: right;
}


.file-display[b-ojo53ihdky]  > img:not([data-mimetype='image/svg+xml']) {
    object-fit: scale-down;
}

.file-display[b-ojo53ihdky]  > object {
    width: 100%;
}

.file-display[b-ojo53ihdky]  > iframe {
    width: 100%;
}

.file-display[b-ojo53ihdky]  > audio {
    width: 100%;
    align-self: center;
}

.file-display[b-ojo53ihdky]  > * {
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 100%;
    align-self: stretch;
    max-width: 100%;
}

.file-display:empty[b-ojo53ihdky] {
    background: repeating-linear-gradient(135deg, #ccc, #ccc 10px, #aaa 10px, #aaa 20px);
    opacity: 0.4;
    border-radius: 5px;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.file-display:empty:hover[b-ojo53ihdky] {
    opacity: 0.6;
}


.file-display[b-ojo53ihdky]  > .file-display-img-box {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%
}

.file-display-error-message[b-ojo53ihdky] {
    color: var(--mud-palette-error);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-type-display-error[b-ojo53ihdky] {
    position: absolute;
    bottom: 80px;
    opacity: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 300px;
    transform: scale(0.2);
    transition-property: all !important;
}

#content-type-display-error.visible[b-ojo53ihdky] {
    opacity: 1;
    transform: scale(1);
    animation: scaleIn 1200ms ease-in-out 1 alternate;
}
/* _content/MudBlazor.Extensions/Components/MudExFileDisplayZip.razor.rz.scp.css */
.child-count-label[b-vww3rq8uht] {
    font-size: 7pt;
    margin-left: 5px;
    width: 15px;
    border: 1px solid var(--mud-palette-text-primary);
    height: 15px;
    border-radius: 50px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.file-display-zip[b-vww3rq8uht] {
    padding: 10px;
    border: 1px dashed var(--mud-palette-primary);
    max-height: 90vh;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: auto;
}

.close-inner-preview[b-vww3rq8uht] {
    float: right;
    height: 25px;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-right: -10px;
}

.size-display[b-vww3rq8uht] {
    font-style: italic;
    font-size: 8pt;
}

.tree-actions[b-vww3rq8uht] {
    margin-left: 20px;
}
/* _content/MudBlazor.Extensions/Components/ObjectEdit/MudExPropertyEdit.razor.rz.scp.css */
.mud-ex-property-reset-conatiner[b-gvwcrzj9il] {
    cursor: pointer;
    transform: scale(0.7);
    float: right;
    margin-right: -7px;
    margin-top: -3px;
}

.mud-ex-property-conatiner[b-gvwcrzj9il] {
}
