################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MudBlazor.Extensions/obj
/MudBlazor.Extensions/bin
/.vs
/SampleApplication/bin/
/SampleApplication/obj
/MudBlazor.Extensions.CodeGator.Adapter/obj
/MudBlazor.Extensions.CodeGator.Adapter/bin/
*.user
