################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MudBlazor.Extensions/obj
/MudBlazor.Extensions/bin
/.vs
/Samples/MainSample.MAUI.Moana/bin/
/Samples/MainSample.MAUI.Moana/obj/
/Samples/MainSample.WebAssembly/bin/
/Samples/MainSample.WebAssembly/obj/
/MudBlazor.Extensions.CodeGator.Adapter/obj
/MudBlazor.Extensions.CodeGator.Adapter/bin/
*.user
/Samples/MainSample.MAUI.Moana/obj/Debug/
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-android/designtime/libraryprojectimports.cache
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-android/designtime/Resource.designer.cs
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-android/MainSample.MAUI.Moana.AssemblyInfo.cs
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-android/lp/map.cache
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/MainSample.MAUI.Moana.csproj.AssemblyReference.cache
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/MainSample.MAUI.Moana.AssemblyInfo.cs
