################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MudBlazor.Extensions/obj
/MudBlazor.Extensions/bin
/.vs
/Samples/*/bin/
/Samples/*/obj/
/MudBlazor.Extensions.CodeGator.Adapter/obj
/MudBlazor.Extensions.CodeGator.Adapter/bin/
*.user
/Samples/MainSample.MAUI.Moana/obj/Debug/net7.0-android/assets/wwwroot/_framework/MainSample.WebAssembly.dll.br
