@page "/tree-view-playground"
@using MudBlazor.Extensions.Core.Enums
@inherits BasePage

@attribute [DemoNew(IsPlaygroundDemo = true, Name = "Playground", Order = 100, Group = "TreeView", ForComponentTypes = new[] { typeof(MudExTreeView<>) })]


<DemoComponent PageType="@GetType()">
    <SplitContainer>
        <Left>
            <MudPaper Class="pa-16 ma-2" Style=" width: 100%; max-height: 750px; overflow: auto;" Square="true">
                <p>@($"{L["Selected Node"]}: {_selectedNode?.Name}")</p>

                <MudExTreeView @bind-SelectedNode="_selectedNode"
                               @ref="ComponentRef"
                               Virtualize="false"
                               ViewMode="_treeViewMode"
                               Items="@Entries">
                </MudExTreeView>

            </MudPaper>

        </Left>
        <Right>
            <ComponentPropertyGrid ShowInherited="true" Value="@ComponentRef"></ComponentPropertyGrid>
        </Right>
    </SplitContainer>
</DemoComponent>


@code {
    MudExTreeView<SampleTreeItem> ComponentRef;
    private SampleTreeItem _selectedNode;
    private TreeViewMode _treeViewMode = TreeViewMode.Default;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }
}
