@page "/test"
@using MudBlazor.Extensions.Core
@using MudBlazor.Extensions.Core.Enums


<MudExEnumSelect TEnum="TreeViewMode" @bind-Value="@_treeViewMode" Label="TreeViewMode" />
<MudCheckBox @bind-Value="_reverseExpand"></MudCheckBox>

<p>@_selectedNode?.ToString()</p>
<MudExDivider Color="MudExColor.Primary" />

<div style="height: 333px">
<MudExTreeView @bind-SelectedNode="_selectedNode" ViewMode="_treeViewMode" ReverseExpandButton="_reverseExpand" Items="@Entries">

</MudExTreeView>
</div>


@code {
    private bool _reverseExpand;
    private NavigationEntry _selectedNode;
    private TreeViewMode _treeViewMode = TreeViewMode.Default;
    public HashSet<NavigationEntry> Entries { get; set; }
    
    protected override void OnInitialized()
    {
        //var root = new NavigationEntry("ROOT") { Children = Navigations.Default(NavigationManager) };
        //Entries = new HashSet<NavigationEntry>(new [] {root});
        Entries = Navigations.Default(NavigationManager);
    }
    

}