@using MudBlazor.Extensions.Helper
@using MainSample.WebAssembly.Utils

<MudDialog Class="mud-ex-dialog-initial">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@icon" Class="mr-3"/> @title
        </MudText>
    </TitleContent>
    <DialogContent>
        Dialog Content
        <br/>
        @ContentMessage
        @*@if (!string.IsNullOrEmpty(ContentMessage))
        {
            @ContentMessage
        }
        else
        {
            <MudGrid Style="width:30px">
                <MudItem xs="12">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
                </MudItem>
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
                </MudItem>
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
                </MudItem>
                <MudItem xs="3">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
                </MudItem>
                <MudItem xs="3">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
                </MudItem>
                <MudItem xs="3">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
                </MudItem>
                <MudItem xs="3">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
                </MudItem>
            </MudGrid>
            <div style="width:30px">
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <p>HELLO Big</p>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <p>HELLO Small</p>
            </MudHidden>
            </div>
        }*@
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string ContentMessage { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
    string icon;
    string title; 
    
    protected override void OnInitialized()
    {
        icon = MudExSvg.GetRandomMember<string>(typeof(Icons.Material.Filled));
        title = RandomTitleGenerator.GenerateRandomTitle();
        if (string.IsNullOrEmpty(icon))
            icon = Icons.Material.Filled.People;
        base.OnInitialized();
    }


}