@page "/file-display"
@inject IDialogService dialogService
@inject NavigationManager NavigationManager
<PageTitle>File Display</PageTitle>

<SampleApplication.Client.Shared.DemoComponent CodeFile="@($"Pages/{GetType().Name}.razor")" >
    <MudButton OnClick="@OpenAsDialog" Variant="Variant.Filled" Color="Color.Primary">Show As Dialog</MudButton>

    <div style="width: 700px; height: 500px; margin-top: 20px">
        <MudExFileDisplay HandleContentErrorFunc="@HandleContentError"
            FileName="sample-zip-file.zip" Url="@(NavigationManager.ToAbsoluteUri("sample-data/sample-zip-file.zip").AbsoluteUri)" ContentType="application/zip"></MudExFileDisplay>
    </div>
</SampleApplication.Client.Shared.DemoComponent>


@code {

    private async Task OpenAsDialog()
    {
        await dialogService.ShowFileDisplayDialog(NavigationManager.ToAbsoluteUri("sample-data/sample-zip-file.zip").AbsoluteUri, "sample-zip-file.zip", "application/zip", HandleContentError);
    }

    private Task<bool> HandleContentError(MudExFileDisplay arg)
    {
        if (arg.ContentType.Contains("word"))
        {
            arg.Url = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiZiqnBKWS8NHcKbRH04UkYjrCgxUMz6sVNw&usqp=CAU";
            arg.ContentType = "image/png";
            arg.CustomContentErrorMessage = "No word plugin found we display a sheep";
            return Task.FromResult(false);
        }
        return Task.FromResult(false);
    }

}