<div class="mud-extensions">
</div>

@code
{
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    await base.OnAfterRenderAsync(firstRender);
    //    await interop.Prompt("Hello");
    //}
}