

@import '_animations.scss';


.mud-dialog-height-full {
    height: calc(100% - 64px);
}

.mud-dialog-height-full-no-margin {
    height: 100%;
}

.mud-dialog-width-full-no-margin {
    width: 100%;    
}


.mud-dialog-position-fixed {
    position: fixed;
}

.mud-dialog-actions-fixed-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.mud-ex-dialog-initial {
    display: none !important;
}

.chip-select-chipsonly .mud-input-adornment {
    margin-top: -40px;
}

.chip-select-chipsonly button {
    margin-top: -40px;
}

.chip-select-chipsonly > div > div.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol, .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    visibility: hidden;
}

.chip-select-chipsonly > div > div.mud-input.mud-input-text.mud-input-adorned-end.mud-input-underline.mud-shrink.mud-select-input {
    height: 0;
}

.chip-select-chipsonly .mud-input.mud-input-text.mud-select-input > input {
    opacity: 0;
}

.chip-select-chipsonly {
    margin-top: -6px;
    align-items: stretch;
    flex-flow: column-reverse;
    cursor: pointer;
}

.chip-select-over .mud-list {
    padding-top: 0 !important;
}

.filter-select {
    position: sticky;
    top: 0;
    background: var(--mud-palette-surface) !important;
    z-index: 1;
}

.filter-select .mud-list-item-icon {
    display: none;
}

.chip-select-chipsonly.with-items .mud-input-helper-text {
    top: 25px;
    position: absolute;
}

.chip-select-chipsonly.empty .mud-input-helper-text {
    top: 55px;
    position: absolute;
}

.mud-ex-keep-input-label-visible .mud-input-label {
    visibility: visible !important;
}

.mud-ex-alert-message-w-100 > .mud-alert-position > .mud-alert-message {
    width: 100%;
}

.mud-ex-collection-edit-label {
    color: var(--mud-palette-text-secondary);
    font-size: 1rem;
}

.mud-ex-collection-edit-label-small {
    transform: translate(0,1.5px) scale(.75);
    transform-origin: top left;
}

.mud-ex-collection-edit-outlined-border {
    border-radius: var(--mud-default-borderradius);
    border-color: var(--mud-palette-lines-inputs);
    border-width: 1px;
    border-style: solid;
}