@import 'css/index.scss';


.chip-select-chipsonly .mud-input-adornment {
    margin-top: -40px;
}

.chip-select-chipsonly button {
    margin-top: -40px;
}

.chip-select-chipsonly > div > div.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol, .chip-select-chipsonly > .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    visibility: hidden;
}

.chip-select-chipsonly > div > div.mud-input.mud-input-text.mud-input-adorned-end.mud-input-underline.mud-shrink.mud-select-input {
    height: 0;
}

.chip-select-chipsonly .mud-input.mud-input-text.mud-select-input > input {
    opacity: 0;
}

.chip-select-chipsonly {
    margin-top: -6px;
    align-items: stretch;
    flex-flow: column-reverse;
    cursor: pointer;
}

.chip-select-over .mud-list {
    padding-top: 0 !important;
}

.chip-select-chipsonly.with-items .mud-input-helper-text {
    top: 25px;
    position: absolute;
}

.chip-select-chipsonly.empty .mud-input-helper-text {
    top: 55px;
    position: absolute;
}

.mud-ex-keep-input-label-visible .mud-input-label {
    visibility: visible !important;
}

.mud-ex-alert-message-w-100 > .mud-alert-position > .mud-alert-message {
    width: 100%;
}


.mud-ex-collection-edit-label {
    color: var(--mud-palette-text-secondary);
    font-size: 1rem;
}

.mud-ex-collection-edit-label-small {
    transform: translate(0,1.5px) scale(.75);
    transform-origin: top left;
}

.mud-ex-collection-edit-outlined-border {
    border-radius: var(--mud-default-borderradius);
    border-color: var(--mud-palette-lines-inputs);
    border-width: 1px;
    border-style: solid;
}

.dialog-content-full-height > .outline-none {
    height: 100%;
}

.full-height {
    height: 100%;
}

.full-height-90 {
    height: 90%;
}


.mud-alert-close-no-flex > .mud-alert-close {
    display: initial;
}

.mud-alert-message-w-100 > .mud-alert-position > .mud-alert-message {
    width: 100%;
}

.mud-ex-alert-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: var(--mud-palette-primary);
    }
}

.mud-alert-message-mt-5 > .mud-alert-position > .mud-alert-message {
    margin-top: -5px;
}

.mud-ex-hide-inputlabel > div > div.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol, .mud-ex-hide-inputlabel > .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    visibility: hidden;
}



/*.mud-ex-mb-container ~ .mud-dialog {
    opacity: 0;
}
.mud-ex-mb-container ~ .mud-dialog[data-mud-extended="true"] {
    opacity: 1;
}*/

.mud-dialog-container-no-modal {
    display: none !important;
}

.minimize-animation {
    transition: transform 0.5s ease-in-out;
}


.mud-ex-dialog-header-progress {
    position: absolute;
    left: 0;
    top: 0;
}

.mud-ex-scroll-to-top {
    height: 56px;
    width: 56px;

    &.bottomleft {
        right: auto !important;
    }

    &.bottomcenter {
        left: calc(50% + 20px) !important;
        right: calc(50% + 20px) !important;
    }

    &.topcenter {
        left: calc(50% + 20px) !important;
        right: calc(50% + 20px) !important;
        top: var(--mud-appbar-height);
    }

    &.topleft {
        right: auto !important;
        top: var(--mud-appbar-height);
    }


    &.topright {
        top: var(--mud-appbar-height);
    }

    &.centerright {
        top: 50%;
        bottom: 50%;
    }

    &.center {
        left: calc(50% + 20px) !important;
        right: calc(50% + 20px) !important;
        top: 50%;
        bottom: 50%;
    }

    &.centerleft {
        right: auto !important;
        top: 50%;
        bottom: 50%;
    }

    &.centerright {
        top: 50%;
        bottom: 50%;
    }
}

.drop-zone {
    transition: all .4s;
    padding: 20px;
    width: 100%;
    min-height: 60px;
    border-radius: 5px;
}

.drop-zone.hover {
    border-style: solid;
    box-shadow: var(--mud-elevation-10);
    border: 3px dotted var(--mud-palette-primary);
}

.mud-ex-overflow {
    overflow: auto;
}

.mud-ex-overflow-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.mud-ex-overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.mud-ex-dialog-header-actions {
    top: 8px;
    right: 48px;
    position: absolute;
}

/* new div element is currently wraped before dialog-content div is avalable. This selector checks if the content element should have full-height and then also applies height 100% to this new extra div */
.mud-dialog .outline-none div[tabindex="-1"]:has(div.full-height) {
    height: 100%;
}

.mud-ex-content-center {
    display: flex;
    padding: 80px;
    align-items: center;
    place-content: center;
}

.mud-ex-empty-indicator-bg {
    background: repeating-linear-gradient(135deg, #ccc, #ccc 10px, #aaa 10px, #aaa 20px);
}

.mud-ex-transparent-indicator-bg {
    background-image: linear-gradient(45deg,var(--mud-palette-surface) 25%, transparent 25%, transparent 75%, var(--mud-palette-surface) 75%), linear-gradient(45deg, var(--mud-palette-surface) 25%, transparent 25%, transparent 75%, var(--mud-palette-surface) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    background-color: var(--mud-palette-background-grey);
}

.mud-dialog-container:has(.mud-ex-dialog-no-margin) {
    padding: 0px !important;
}
