@using Microsoft.AspNetCore.Components.Rendering
@using MudBlazor.Extensions.Helper
@using MainSample.WebAssembly.Utils
@using MudBlazor.Extensions.Attribute
@using MudBlazor.Extensions.Components.ObjectEdit.Options
@using MudBlazor.Extensions.Core
@using MudBlazor.Extensions.Options
@using Nextended.Core.Extensions
@inherits MudExObjectEdit<T>
@typeparam T

@if (rendered)
{
    @Inherited()
}
else
{
    <MudProgressCircular Style="margin-top: 70%; margin-left: 50%;" Color="Color.Primary" Indeterminate="true" />
}


@code {

    [Parameter] public bool ShowInherited { get; set; }

    [Inject]
    IDialogService dialogService { get; set; }

    [Inject] private IJsApiService JsApiService { get; set; }

    private bool rendered;
    protected RenderFragment Inherited() => builder => base.BuildRenderTree(builder);
    bool _showInherited;

    protected override Task OnInitializedAsync()
    {
        ToolBarContent = RenderToolbarExtraContent();
        StickyToolbar = true;
        ToolbarColor = Color.Surface;
        StickyToolbarTop = "-8px";
        StoreAndReadValueFromUrl = true;

        return base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
            _showInherited = ShowInherited;
        base.OnAfterRender(firstRender);
        if (!rendered)
        {
            rendered = true;
            Task.Delay(500).ContinueWith(_ => InvokeAsync(StateHasChanged));
        }
    }


    protected override ObjectEditMeta<T> ConfigureMetaBase(ObjectEditMeta<T> meta)
    {
        meta.Properties(nameof(MudBaseInput<string>.Converter)).Ignore();
        meta.IgnoreAllObsoleteFields();
        meta.IgnoreAllInheritedFieldsIf(b => !_showInherited);        
        meta.GroupByCategoryAttribute();
        meta.Properties<string>().Where(p => p?.Value?.ToString()?.StartsWith("<g") == true || p?.Value?.ToString()?.StartsWith("<path") == true)
        .RenderWith<MudExIconPicker, string, string>(edit => edit.Value);
        
        meta.AllProperties.WrapIn<PropertyInfoContainer<T>>((p, cmp) => { 
            cmp.Property = p.PropertyInfo; 
        });

    return base.ConfigureMetaBase(meta);
    }

    RenderFragment RenderToolbarExtraContent()
    {
        return 
    @<div>
            <MudTooltip Text="Show Markup">
                <MudIconButton Icon="@Icons.Material.Filled.Code" OnClick="@ShowCode" />
            </MudTooltip>
            <MudTooltip Text="Show or hide inherited fields from base class">                
                <MudSwitch T="bool" CheckedChanged="@OnChangeInherit" Size="Size.Small" Color="Color.Primary" Checked="_showInherited">Inherited</MudSwitch>
            </MudTooltip>
        </div>
    ;
    }

    private Task OnChangeInherit(bool b)
    {
        _showInherited = !_showInherited;
        UpdateAllConditions();
        Refresh();
        return Task.CompletedTask;
    }

    private async Task ShowCode()
    {
        //await dialogService.ShowInformationAsync("Code", ComponentRenderHelper.GenerateBlazorMarkupFromInstance(Value));
        await dialogService.ShowComponentInDialogAsync<DemoMarkdown>("Markup Code for using " + typeof(T).Name.Split('`').First(), "Notice: This is generated and maybe not 100% correct",
            md =>
            {
                md.Value = CodeView.CodeAsMarkup(CodeView.GenerateBlazorMarkupFromInstance(Value));
            },
            dialog =>
            {
                dialog.Icon = Icons.Material.Filled.Code;
                dialog.Buttons = MudExDialogResultAction.Ok();

            }, new DialogOptionsEx()
                {
                    DialogAppearance = MudExAppearance.FromCss(MudExCss.Classes.Dialog.Glass),
                    DragMode = MudDialogDragMode.Simple,
                    CloseButton = true,
                    Resizeable = true,
                });
    }

}
