@using BlazorJS;
@using Nextended.Core.Extensions
@using Markdig.Syntax.Inlines
@using System.Text.RegularExpressions

@if (CenterImagesAndHeadlines)
{
    <style>
        .mudexmarkdownpresenter h1,
        .mudexmarkdownpresenter h2,
        .mudexmarkdownpresenter h3,
        .mudexmarkdownpresenter h4,
        .mudexmarkdownpresenter h5,
        .mudexmarkdownpresenter h6,
        .mudexmarkdownpresenter img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
}


<div class="@GetCls()">
    @if (_initialized)
    {
        <MudExMarkdown CodeBlockTheme="@MainLayout.GetCodeBlockTheme()" 
                     Value="@Value">
        </MudExMarkdown>
    }
</div>

@code {
  
    bool _initialized;

    [Parameter]
    public bool CenterImagesAndHeadlines { get; set; }

    [Parameter]
    public string Value 
    {
        get => _value;
        set => _value = PrepareValue(value);
    }

    private string PrepareValue(string value)
    {
        if (string.IsNullOrEmpty(value))
            return value;

        string pattern = @"(http[s]?:\/\/.*?\/MudBlazor\.Extensions\/assets\/.*|http[s]?:\/\/.*?\.(mp4|mkv))";
        Regex regex = new Regex(pattern);

        MatchEvaluator evaluator = ReplaceWithVideoTag;
        string result = regex.Replace(value, evaluator);

        return result;
    }

    private string ReplaceWithVideoTag(Match match)
    {
        string url = match.Value;
        return $"<video controls src=\"{url}\"></video>";
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.LoadFilesAsync(
            "./_content/MudBlazor.Markdown/MudBlazor.Markdown.min.js",
            "./_content/MudBlazor.Markdown/MudBlazor.Markdown.min.css"
            );
        await JsRuntime.WaitForNamespaceAsync("highlightCodeElement", TimeSpan.FromSeconds(5), TimeSpan.FromMilliseconds(300));
        _initialized = true;
        if (MainLayout.Instance != null)
            MainLayout.Instance.ThemeChanged += (_, _) => StateHasChanged();
        await base.OnInitializedAsync();
    }

    private string GetCls() => CenterImagesAndHeadlines ? "mudexmarkdownpresenter" : "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await LoadDocumentIfValueIsFile();
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadDocumentIfValueIsFile()
    {
        if (!string.IsNullOrEmpty(Value) && (Value.StartsWith("http") || Value.EndsWith(".md") || Value.Split(' ').Length == 1))
        {
            Value = await Http.LoadDocumentation(string.IsNullOrEmpty(Path.GetExtension(Value)) ? Value.EnsureEndsWith(".md") : Value);
            StateHasChanged();
        }
    }

    private static Func<Typo, Typo>? TypoConvert()
    {
        int factor = 2;
        return typo =>
        {
            var r = (int)typo + factor;
            return r < 0 ? Typo.h4 : (Typo)r;
        };
    }

    private string? LinkThat(LinkInline arg)
    {
        if (!arg.IsImage && arg.Url.EndsWith(".md"))
        {
            return $"/d/{Path.GetFileNameWithoutExtension(arg.Url)}";
        }
        
        return arg.Url;
    }

    private string _value;
}
