@using MudBlazor.Extensions.Core

<div style="display: flex; margin-right: 20px;">
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <img style="height: 25px; margin-right: 10px;" src="https://raw.githubusercontent.com/fgilde/MudBlazor.Extensions/main/MudExtension.png"/>
    </MudHidden>
    <MudLink Href="@GetHomeLink()" Typo="Typo.h6">
        <MudExGradientText AnimationDuration="TimeSpan.FromSeconds(30)" Palette="new [] { MudExColor.Primary, MudExColor.Secondary, MudExColor.Tertiary }" Animate="@Animate" Typo="Typo.h6">MudBlazor.Extensions</MudExGradientText>
    </MudLink>
</div>
@code{
    
    [Parameter]
    public bool Hidden { get; set; }

    [Parameter]
    public bool Animate { get; set; }
    
    private string GetHomeLink()
    {
        var u = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        return string.IsNullOrWhiteSpace(u) || u == "/" ? "/gradient-text" : "/";
    }


}