@using MudBlazor.Extensions.Options
@using MudBlazor.Extensions.Core
@using MudBlazor.Extensions.Helper
@using MudBlazor.Extensions.Services
@using Nextended.Core.Extensions
@inject IDialogService dialogService;
@inject MudExFileService fileService;
@implements IMudExFileDisplay

<span @onclick="@ShowCode" style="cursor: pointer; font-size: 10pt;text-decoration: underline; position: absolute; margin-top: -10px;">This is a self registered control for json files. Just implement IMudExFileDisplay. Click to see code</span>

<MudTextField ReadOnly="true" Value="@jsonValue" Variant="Variant.Outlined" T="string" Lines="16" Style="margin-top: 3px;"></MudTextField>

@code {
    private string jsonValue;

    [Inject] HttpClient http { get; set; }
    public string Name => "Most stupid json display"; // Name of your component. (Is displayed in menu if user wants to switch between multiple components for one file type)

    public bool CanHandleFile(IMudExFileDisplayInfos fileDisplayInfos) // Here you need to check if your component can handle the file. Please do this as accurate as possible to prevent using the wrong component for a file.
    {
        return fileDisplayInfos.ContentType == "application/json" || (fileDisplayInfos.ContentType == "text/plain" && fileDisplayInfos.FileName.EndsWith(".json"));
    }

    private IMudExFileDisplayInfos _fileDisplayInfos;
    [Parameter] // Important. The property for FileDisplayInfos from interface IMudExFileDisplayInfos needs to have the [Parameter] attribute
    public IMudExFileDisplayInfos FileDisplayInfos
    {
        get => _fileDisplayInfos;
        set
        {
            if (_fileDisplayInfos != value || string.IsNullOrEmpty(jsonValue))
            {
                _fileDisplayInfos = value;
                fileService.ReadAsStringFromFileDisplayInfosAsync(FileDisplayInfos).ContinueWith(jsonTask =>
                {
                    jsonValue = jsonTask.Result;
                    StateHasChanged();
                }); // Here we load the json string for given file
            }
        }
    }

    public Task<IDictionary<string, object>> FileMetaInformationAsync(IMudExFileDisplayInfos fileDisplayInfos)
    {
        return Task.FromResult<IDictionary<string, object>>(new Dictionary<string, object>()
        {
            {"Lines", jsonValue.GetLines().Count()}
        });
    }

    // That's all you need to implement from Interface. All other code depends on your component and on what you want to archive

    private async Task ShowCode()
    {
        var file = GH.Path($"Shared/{GetType().Name}.razor");
        string code = await http.GetStringAsync(file);
        await dialogService.ShowComponentInDialogAsync<DemoMarkdown>("Code for this component", "Like this you can implement your own components that is responsible for a File",
            md =>
            {
                md.Value = MudExCodeView.CodeAsMarkup(code);
            },
            dialog =>
            {
                dialog.Icon = Icons.Material.Filled.Code;
                dialog.Buttons = MudExDialogResultAction.Ok();

            },new DialogOptionsEx()
            {   
                DialogAppearance = MudExAppearance.FromCss(MudExCss.Classes.Dialog.Glass),
                DragMode =MudDialogDragMode.Simple,
                MaxWidth = MaxWidth.Large,
                FullWidth = true,
                CloseButton = true,
                Resizeable = true,
            });
    }

}

