<div class="html"><pre>
@using MudBlazor.Extensions.Services
@inherits ExampleBase

@if (_structure != null)
{
    &lt;MudExFileManager @ref=&quot;ComponentRef&quot;
                      Manager=&quot;@_structure&quot;
                      Height=&quot;@(&quot;70vh&quot;)&quot;
                      OnFileOpened=&quot;@(node =&gt; _lastOpened = node.Name)&quot; /&gt;
}

@if (!string.IsNullOrEmpty(_lastOpened))
{
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudAlert</span> <span class="htmlAttributeName">Severity</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">&quot;Severity.Info&quot;</span> <span class="htmlAttributeName">Dense</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">&quot;true&quot;</span> <span class="htmlAttributeName">Class</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">&quot;mt-2&quot;</span><span class="htmlTagDelimiter">&gt;</span>@L[&quot;Opened: {0}&quot;, _lastOpened]<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudAlert</span><span class="htmlTagDelimiter">&gt;</span>
}

@code {
    private MudExInMemoryFileStructureManager _structure;
    private string _lastOpened;

    protected override async Task OnInitializedAsync()
    {
        // base registers the example with the demo box - without it the box has nothing to show.
        await base.OnInitializedAsync();
        _structure = await DemoFileStructure.BuildAsync(Http, NavigationManager.BaseUri);
    }
}

</pre></div>