.mud-ex-range-slider {
    position: relative;
    width: 100%;
    touch-action: none;
    user-select: none;

    .mud-ex-range-slider-track {
        --p-start: 0;
        --p-end: 0;
        position: relative;
        height: 6px;
        border-radius: 3px;
        background: var(--mud-palette-lines-default);
    }

    .mud-ex-range-slider-selection {
        position: absolute;
        top: 0;
        height: 100%;
        left: calc(var(--p-start) * 100%);
        width: calc((var(--p-end) - var(--p-start)) * 100%);
        background: var(--mud-palette-primary);
        border-radius: 3px;
        pointer-events: auto;
        cursor: grab;
        z-index: 1;
    }

    .mud-ex-range-slider-thumb {
        position: absolute;
        top: 50%;
        left: calc(var(--p-start) * 100%);
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid var(--mud-palette-surface);
        background: var(--mud-palette-background);
        box-shadow: 0 0 0 2px var(--mud-palette-primary);
        cursor: grab;
        pointer-events: auto;
        z-index: 2;

        &.end {
            left: calc(var(--p-end) * 100%);
        }
    }
}
