

.mud-ex-list {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    overflow: auto;
}

.mud-ex-list.mud-ex-list-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mud-ex-list-item {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: start;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
    outline: none;
}

.mud-ex-list-item.mud-ex-list-item-dense {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mud-ex-list-item.mud-ex-list-item-disabled {
    color: var(--mud-palette-action-disabled) !important;
    cursor: default !important;
    pointer-events: none !important;
}

.mud-ex-list-item.mud-ex-list-item-disabled .mud-ex-list-item-icon {
    color: var(--mud-palette-action-disabled) !important;
}

.mud-ex-list-item-clickable {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    outline: 0;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 150ms cubic-bezier(.4,0,.2,1) 0ms;
}

.mud-ex-list-item-clickable:hover:not(.mud-list-item-functional) {
    background-color: var(--mud-palette-action-default-hover);
}

.mud-ex-list-item-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.mud-ex-list-item-text {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}

.mud-ex-list-item-text-inset {
    padding-left: 56px;
    padding-inline-start: 56px;
    padding-inline-end: unset;
}

.mud-ex-list-item-icon {
    color: var(--mud-palette-action-default);
    display: inline-flex;
    flex-shrink: 0;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    margin-inline-start: -4px;
    margin-inline-end: 4px;
}

.mud-ex-list-item-multiselect {
    max-height: 32px;
}

.mud-ex-list-item-multiselect.mud-ex-list-item-multiselect-checkbox {
    padding-inline-end: 16px;
}

.mud-ex-list-subheader {
    color: var(--mud-palette-action-default);
    background-color: var(--mud-palette-background);
    font-size: .875rem;
    box-sizing: border-box;
    list-style: none;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.mud-ex-list-subheader-secondary-background {
    background-color: var(--mud-palette-background-grey);
}

.mud-ex-list-subheader-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.mud-ex-list-subheader-inset {
    padding-left: 72px;
    padding-inline-start: 72px;
    padding-inline-end: unset;
}

.mud-ex-list-subheader-sticky {   
    z-index: 1;
    position: sticky;
}

.mud-ex-list-subheader-sticky.mud-ex-list-subheader-sticky-dense {
    top: 0;
}

.mud-ex-list-item-highlight {
    background-color: var(--mud-palette-background-grey);
}

.mud-list-item-highlight-selected {
    background-color: var(--mud-palette-lines-default) !important;
}

.mud-ex-list-item-nested-background {
    background-color: var(--mud-palette-background-grey);
}

.mud-ex-list-item-avatar {
    min-width: 56px;
    flex-shrink: 0;
}

.mud-ex-nested-list > .mud-ex-list-item {
    padding-left: 32px;
    padding-inline-start: 32px;
    padding-inline-end: unset;
}

.mud-ex-select {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    position: relative;
    height: fit-content;
}

.mud-ex-select.mud-autocomplete {
    display: block;
}

.mud-ex-select.mud-autocomplete .mud-ex-select-input {
    cursor: text;
}

.mud-ex-select.mud-autocomplete .mud-ex-input-adornment {
    cursor: pointer;
}

.mud-ex-select.mud-autocomplete--with-progress .mud-ex-select-input input {
    padding-right: 3.5rem !important;
}

.mud-ex-select.mud-autocomplete--with-progress .mud-input-adorned-end input {
    padding-right: 4.5rem !important;
}

.mud-ex-select.mud-autocomplete--with-progress .mud-ex-select-input .mud-icon-button {
    display: none !important;
}

.mud-ex-select.mud-autocomplete--with-progress .progress-indicator-circular {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: 1rem;
}

.mud-ex-select.mud-autocomplete--with-progress .progress-indicator-circular--with-adornment {
    padding-right: 3rem;
}

.mud-ex-select.mud-autocomplete--with-progress .mud-progress-linear {
    position: absolute;
    bottom: -1px;
    height: 2px;
}

.mud-ex-select .mud-ex-select-input {
    cursor: pointer;
}

.mud-ex-select .mud-ex-select-readonly {
    cursor: default;
}

.mud-ex-select .mud-ex-select-no-dropdown > div.mud-input-adornment > svg {
    display: none;
}

.mud-ex-select .mud-ex-select-input .mud-ex-select-nowrap {
    white-space: nowrap;
}

.mud-ex-select .mud-ex-select-input .mud-input-slot {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mud-ex-select .mud-ex-select-input .mud-input-adornment-end {
    margin-left: 0;
}

.mud-ex-select .mud-ex-select-input:disabled {
    cursor: default;
}

.mud-ex-select .mud-disabled .mud-select-input {
    cursor: default;
}

.mud-ex-select > .mud-form-helpertext {
    margin-top: -21px;
}

.mud-ex-select-all {
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 18px;
}

.mud-ex-input-adornment-start:not(.mud-ex-input-text) {
    margin-inline-start: 12px;
}

.mud-ex-input-adornment-start.mud-ex-input-filled {
    margin-top: 16px;
}

.mud-ex-input-adornment-end:not(.mud-ex-input-text) {
    margin-inline-end: 12px;
}
