.mud-ex-glass-dialog {    
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;    
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
