$prefix: "mud-ex";

.#{$prefix}-empty {    
}
:root {
    --#{$prefix}-css-main: #{$prefix}
}

@import 'mixins.scss';
@import 'animations/index.scss';
@import 'misc/index.scss';
@import 'components/index.scss';
@import '_backgrounds.scss';
@import '_dialog.scss';


.mud-ex-property-component-wrapper {
    display: flex;
}

.#{$prefix}-edit-config-wrapper {
    position: relative;
    display: inline-block;
}

.#{$prefix}-edit-config-button {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
}

.snap-preview {
    position: absolute;    
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-radius: 8px;    
    transform: scale(0);
    transform-origin: center center;
    transition: transform 200ms ease-out;
    z-index: calc(var(--mud-zindex-dialog) - 1);
    pointer-events: none;
}


