:root {
  --blazor-load-percentage: 0;
  --loading-color: #ff4081;
}

.mud-ex-app-loader-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.9);
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-loading-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-circle {
  transform: rotate(-90deg);
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-circle-bg,
.mud-ex-app-loader-loading-container .mud-ex-app-loader-circle-progress {
  fill: none;
  stroke-width: 10;
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-circle-bg {
  stroke: #e6e6e6;
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-circle-progress {
  stroke: var(--loading-color);
  stroke-dasharray: 566;
  stroke-dashoffset: calc(566 - var(--blazor-load-percentage) * 5.66);
}
.mud-ex-app-loader-loading-container .logo {
  position: absolute;
  max-width: var(--size);
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-loading-percentage {
  position: absolute;
  margin-top: 250px;
  font-size: 1.5rem;
  color: var(--loading-color);
}
.mud-ex-app-loader-loading-container.complete .loading-percentage {
  display: none;
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-loading-percentage.hidden {
  display: none;
}
.mud-ex-app-loader-loading-container.pixelated-out {
  animation: pixelatedOut 1s forwards;
}
.mud-ex-app-loader-loading-container .mud-ex-app-loader-circle-glowing {
  animation: glowing 1.5s infinite;
  stroke-opacity: 0;
  border: 14px solid var(--loading-color);
  border-radius: 50%;
}
.mud-ex-app-loader-loading-container .app-name {
  position: absolute;
  margin-top: 355px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--app-name-text-color);
}

@keyframes pixelatedOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}
@keyframes glowing {
  0%, 100% {
    box-shadow: 0 0 5px var(--loading-color), 0 0 10px var(--loading-color), 0 0 20px var(--loading-color), 0 0 30px var(--loading-color);
  }
  50% {
    box-shadow: 0 0 10px var(--loading-color), 0 0 20px var(--loading-color), 0 0 30px var(--loading-color), 0 0 40px var(--loading-color);
  }
}
