@inherits ExampleBase

<div style="width: 100%">
    <p>@($"{L["Selected Node"]}: {_selectedNode?.Name}")</p>
    <MudExTreeViewHorizontal @bind-SelectedNode="_selectedNode"
                             @ref="ComponentRef"
                             Items="@Entries">

    </MudExTreeViewHorizontal>
</div>

@code {
    private SampleTreeItem _selectedNode;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }
}
