@inherits MudExJsRequiredBaseComponent<MoveContent>

<div style="@Style" class="@Class" @ref="ElementReference">
    @ChildContent
    @if (ElementFound.HasValue)
    {
        @if (ElementFound.Value)
        {
            @Found
        }
        else
        {
            @NotFound
        }
    }
</div>