.file-display {
    padding: 10px;
    border: 1px dashed var(--mud-palette-primary);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.file-display-container {
    height: calc(100% - 60px);
}

.download-file {
    float: right;
}


.file-display ::deep > img:not([data-mimetype='image/svg+xml']) {
    object-fit: scale-down;
}

.file-display ::deep > object {
    width: 100%;
}

.file-display ::deep > iframe {
    width: 100%;
}

.file-display ::deep > audio {
    width: 100%;
    align-self: center;
}

.file-display ::deep > * {
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 100%;
    align-self: stretch;
    max-width: 100%;
}

.file-display:empty {
    background: repeating-linear-gradient(135deg, #ccc, #ccc 10px, #aaa 10px, #aaa 20px);
    opacity: 0.4;
    border-radius: 5px;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.file-display:empty:hover {
    opacity: 0.6;
}


.file-display ::deep > .file-display-img-box {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%
}

.file-display-error-message {
    color: var(--mud-palette-error);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-type-display-error {
    position: absolute;
    bottom: 80px;
    opacity: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 300px;
    transform: scale(0.2);
    transition-property: all !important;
}

#content-type-display-error.visible {
    opacity: 1;
    transform: scale(1);
    animation: scaleIn 1200ms ease-in-out 1 alternate;
}