@inherits ComponentBase
@implements IDisposable

<CascadingValue Value="this" IsFixed="true">
    <div class="dv-node"
         data-options="@Options">
        @ChildContent
    </div>
</CascadingValue>