@inherits MudExBaseComponent<MudExCaptureOptionsEdit>

<div class="super-dupa-class" style="@Style">
    Hello
    @if (Value != null)
    {
        <MudTextField ReadOnly="@ReadOnly" @bind-Value="@Value.AudioContentType" Label="AudioContentType" />
    }
</div>