@inherits MudExJsRequiredBaseComponent<MudExColorBubble>

<div @ref="ElementReference" onclick="@ShowSelectorAsync" style="@StyleStr()" class="@($"mud-ex-color-bubble mud-ex-animate-all-properties {Class}")"></div>

<div @ref="_canvasContainerReference" 
     style="@CanvasContainerStyle()" class="mud-ex-color-bubble-canvas-container mud-ex-color-bubble-canvas-container-small">
    <div class="mud-ex-color-bubble-locator">

    </div>
</div>
