@using MudBlazor.Extensions.Helper

<div @ref="_elementReference" style="@Style()" class="mud-ex-color-bubble mud-ex-animate-all-properties"></div>

<div @ref="_canvasContainerReference" 
     style="@CanvasContainerStyle()" class="mud-ex-color-bubble-canvas-container mud-ex-color-bubble-canvas-container-small">
    <div class="mud-ex-color-bubble-locator">

    </div>
</div>
