@inherits MudExBaseComponent<MudExGrid>

<div @attributes="UserAttributes" class="@GetClass()" style="@GetStyle()"
     @onclick="OnClickHandler"
     @onclick:stopPropagation="OnClickStopPropagation"
     @oncontextmenu="OnContextMenu"
     @oncontextmenu:preventDefault="OnContextMenuPreventDefault"
     @oncontextmenu:stopPropagation="OnContextMenuStopPropagation">
    <CascadingValue Value="@this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>