@inherits MudExJsRequiredBaseComponent<MudExDockLayout>


<CascadingValue Value="this" IsFixed="true">
    <div @ref="_containerRef"
         class="@($"{ClassName}{(HideTabHeaders ? " dv-hide-tabs" : "")}")"
         style="@ContainerStyle">
        @ChildContent
    </div>
</CascadingValue>


