@inherits MudExBaseComponent<MudExDockItem>

<CascadingValue Value="this" IsFixed="true">
    <div class="@ClassStr"
         data-options="@Options">
        @ChildContent
    </div>
</CascadingValue>