@inherits MudExBaseComponent<MudExGridSection>

<div @ref="ElementReference"
     @attributes="UserAttributes" class="@GetClass()" style="@Style"
     @onclick="OnClickHandler"
     @ondblclick="@OnDblClickHandler"
     @onclick:stopPropagation="OnClickStopPropagation"
     @oncontextmenu="OnContextMenu"
     @oncontextmenu:preventDefault="OnContextMenuPreventDefault"
     @oncontextmenu:stopPropagation="OnContextMenuStopPropagation">
    
    @ChildContent
</div>