@inherits MudExBaseComponent<MudExSlideBar>
<div @onmouseenter="MouseEnter" @onmouseleave="MouseLeave" style="@($"{Style()}")" class="@($"{CssClass()} mud-ex-animate-all-properties")">
    <div class="mud-ex-animate-all-properties" style="@($"opacity: {(IsOpen || !AutoCollapse || !HideContentWhenCollapsed ? 1: 0)}")">
        @ChildContent
    </div>
</div>