@inherits MudExBaseComponent<MudExSlideBar>
<div @onmouseenter="MouseEnter" @onmouseleave="MouseLeave" style="@($"{StyleStr()}")" class="@($"{CssClass()} mud-ex-animate-all-properties")">
    <div class="mud-ex-animate-all-properties" style="@ContentStyle()">
        @ChildContent
    </div>
</div>