:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

.mud-ex-card-list {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;

    .mud-ex-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        max-width: 916px;
        width: calc(100% - 20px);
    }

    .mud-ex-cards:hover > .mud-ex-card::after {
        opacity: 1;
    }

    .mud-ex-card {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        height: 260px;
        flex-direction: column;
        position: relative;
        width: 300px;
    }

    .mud-ex-card:hover::before {
        opacity: 1;
    }

    .mud-ex-card::before,
    .mud-ex-card::after {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
    }

    .mud-ex-card::before {
        background: radial-gradient( 800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40% );
        z-index: 3;
    }

    .mud-ex-card::after {
        background: radial-gradient( 600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40% );
        z-index: 1;
    }

    .mud-ex-card > .card-content {
        background-color: var(--card-color);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        inset: 1px;
        padding: 10px;
        position: absolute;
        z-index: 2;
    }

    h1, h2, h3, h4, span {
        color: rgb(240, 240, 240);
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        margin: 0px;
    }

    i {
        color: rgb(240, 240, 240);
    }

    .card-image {
        align-items: center;
        display: flex;
        height: 140px;
        justify-content: center;
        overflow: hidden;
    }

    .card-image > i {
        font-size: 6em;
        opacity: 0.25;
    }

    .card-info-wrapper {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        padding: 0px 20px;
    }

    .card-info {
        align-items: flex-start;
        display: flex;
        gap: 10px;
    }

    .card-info > i {
        font-size: 1em;
        height: 20px;
        line-height: 20px;
    }

    .card-info-title > h3 {
        font-size: 1.1em;
        line-height: 20px;
    }

    .card-info-title > h4 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.85em;
        margin-top: 8px;
    }
    /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

    @media(max-width: 1000px) {
        .mud-ex-card-list {
            align-items: flex-start;
            overflow: auto;
        }

        .mud-ex-cards {
            max-width: 1000px;
            padding: 10px 0px;
        }

        .card {
            flex-shrink: 1;
            width: calc(50% - 4px);
        }
    }

    @media(max-width: 500px) {
        .mud-ex-card {
            height: 180px;
        }

        .card-image {
            height: 80px;
        }

        .card-image > i {
            font-size: 3em;
        }

        .card-info-wrapper {
            padding: 0px 10px;
        }

        .card-info > i {
            font-size: 0.8em;
        }

        .card-info-title > h3 {
            font-size: 0.9em;
        }

        .card-info-title > h4 {
            font-size: 0.8em;
            margin-top: 4px;
        }
    }

    @media(max-width: 320px) {
        .mud-ex-card {
            width: 100%;
        }
    }
}